body {
  text-align: center;
}
h1 {
  font-weight: 900;
  color: aquamarine;
}
h2 {
  background-color: bisque;
}
p {
  background-color: blueviolet;
  color: coral;
  font-weight: 500;
}
img {
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: blueviolet;
}
